<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars and Cats</title>
</head>
<body>
    <h4>Add a new car:</h4>
    <form action="">
        Make:<br>
        <input type="text" name="make" value="Ferrari"><br>
        Model:<br>
        <input type="text" name="model" value="F12"><br><br>
        Year:<br>
        <input type="text" name="year" value="2016"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>