<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Button</title>
    <link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	        $(document).ready(function (){
	            var socket = io.connect();
	            $('#button').click(function (){
	                socket.emit("button_click")
	            });
	           	$('#reset').click(function (){
	                socket.emit("reset")
	            });
	            socket.on('update_count', function(data){
	                $("#count").html(data.count);
	           	});
	        });
	  </script>
</head>
<body>
    <div id="game">
        <h1>The button has been pushed <span id="count">0</span> time(s)</h1>
	    <h3>Push the button to update the count!</h3>
	    <button id="button">Push the epic button</button><br>
        <button id="reset">Reset count</button>
    </div>
</body>
</html>